/Obj
/Library
/Temp
/Logs


/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/Assets/UnityVS
/Assets/UnityVS.meta
UnityVS.UnnyWorld.sln.DotSettings
/Assets/VSCode
/Assets/VSCode.meta
/Assets/Resources/Lists/*


build
*.pidb
*.csproj
*.sln
*.userprefs
*.unityproj
*.suo
*.svd
*.user
*.booproj
*.DS_Store
*.vscode

# JetBrains Rider
.idea/
*.sln.iml
